<section id="services" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Services</h3>

          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Design</h2>
            <p class="s-description text-center">
              Web designing is the creation of websites and pages to reflect a
              company’s brand and information and ensure a user-friendly
              experience. Appearance and design are incorporated as vital
              elements whether you’re designing a website, mobile app or
              maintaining content on a web page.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Development</h2>
            <p class="s-description text-center">
              Web development refers to the building, creating, and maintaining
              of websites. It includes aspects such as web design, web
              publishing, web programming, and database management. It is the
              creation of an application that works over the internet i.e.
              websites.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Photography</h2>
            <p class="s-description text-center">
              Photography is the art, application, and practice of creating
              durable images by recording light, either electronically by means
              of an image sensor, or chemically by means of a light-sensitive
              material such as photographic film. I
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Responsive Design</h2>
            <p class="s-description text-center">
              Responsive design is a graphic user interface (GUI) design
              approach used to create content that adjusts smoothly to various
              screen sizes. Designers size elements in relative units
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"
              ><i class="bi bi-brightness-high"></i
            ></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Graphic Design</h2>
            <p class="s-description text-center">
              All about combining art and technology. They create mesmerizing
              visual concepts using technology or hand skills to cater to the
              client’s requirements.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Marketing Services</h2>
            <p class="s-description text-center">
              Services marketing is a form of marketing businesses that provide
              a service to their customers use to increase brand awareness and
              sales.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
